.subtitle {
	margin:10px;
	padding:10px;
	color:rgb(68, 70, 60);
	font-size:24px;
	font-weight:700;
	font-family: 'Orbitron', sans-serif;
}
.projects {
	border-top:3px solid rgb(180, 35, 35);
	text-align:center;
	padding:20px;
	padding-top:10px;
	background:white;
	font-family: 'Arapey', sans-serif;
}
.project {
	display:inline-block;
	text-decoration:none;
	vertical-align:top;
	padding:10px;
	margin-right:10px;
	margin-bottom:20px;
	width:200px;
	min-height:380px;
	color:black;
	text-align:justify;
	background:rgb(237, 241, 241);
	box-shadow: 0px 0px 1px 1px rgba(85, 67, 22, 0.4);
}
.project:hover {
	background:rgb(221, 231, 231);
	box-shadow: 0px 0px 1px 1px rgba(85, 67, 22, 0.6);
}
.project img {
	width:200px;
	height:200px;
	box-shadow: 0px 0px 1px 1px rgba(85, 67, 22, 0.4);
}
.label {
	font-weight:700;
	margin-top:5px;
	font-family: 'Orbitron', sans-serif;
	color:rgb(55, 56, 48);
}